################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/03 Thinning/.ipynb_checkpoints
/02 Otsu/.ipynb_checkpoints
/01 Prewitt edge detector/.ipynb_checkpoints
/00 Box Filter/.ipynb_checkpoints
/.vs
